[submodule "multirepo-frontend-sample"]
	path = multirepo-frontend-sample
	url = ../multirepo-frontend-sample.git
	branch = main
[submodule "multirepo-backend-sample"]
	path = multirepo-backend-sample
	url = ../multirepo-backend-sample.git
	branch = main
